{% extends "base.html" %}
{% block auth_content %}
<div class="card-body">
  <h3 class="mb-3 text-center">Đăng ký</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="mb-3">
      <label class="form-label">Tên đăng nhập</label>
      {{ form.username }}
      {{ form.username.errors }}
    </div>
    <div class="mb-3">
      <label class="form-label">Email</label>
      {{ form.email }}
      {{ form.email.errors }}
    </div>
    <div class="mb-3">
      <label class="form-label">Mật khẩu</label>
      {{ form.password1 }}
      {{ form.password1.errors }}
    </div>
    <div class="mb-3">
      <label class="form-label">Nhập lại mật khẩu</label>
      {{ form.password2 }}
      {{ form.password2.errors }}
    </div>
    <button type="submit" class="btn btn-primary w-100 mb-2">Đăng ký</button>
    <div class="text-center">
      <a href="{% url 'accounts:login' %}">Đã có tài khoản? Đăng nhập</a>
    </div>
  </form>
</div>
{% endblock %}
